container_commands:
  00_create_db:
    command: "npm run aws_create_db"
    cwd: "/var/app/staging"
    leader_only: true
  01_migrate:
    command: "npm run aws_migrate"
    cwd: "/var/app/staging"
    leader_only: true
  02_seed:
    command: "npm run aws_seed"
    cwd: "/var/app/staging"
    leader_only: true
